header {
  padding: 0 auto;
  background: #262626;
  width: 100%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
}
.logo img {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 5px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  letter-spacing: 2px;
  transition: 1s ease-in-out;
}
.menu {
  display: flex;
}
nav ul li {
  list-style: none;
  position: relative;
}
nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  display: block;
  text-shadow: 2px 2px gray;
  transition: .5s ease-in;
}
.menu {  
  display: flex;
  justify-content: center;
}
.menu a {
  border-right: 5px solid white;
  border-radius: 10px;
}
.menu a:hover {
  z-index: 5;
  color: black;
  background: #dce1e6;
  border-radius: 10px 0 0 10px;
  text-shadow: 2px 2px 5px gray;
  transition: 0.35s ease-in-out;
}

.home a{
  color: orange;
}
.home a:hover,
.search a:hover {  
  color: rgb(20, 148, 207);
  font-weight: 600;  
}

.home a:hover {
  text-shadow: 4px 6px 15px rgb(16, 223, 238);
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 30px;
  width: fit-content;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
hr {
  margin: 0 !important;
}
@media (max-width: 950px) {
  header {
    z-index: 3;
  }
  .menu-toggle {
    display: block;
  }
  nav {
    z-index: 3;
    position: absolute;
    width: fit-content;
    background: rgb(245, 166, 8, 1);
    top: 50px;
    left: 0;
    transition: 0.5s;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
  }
  nav.active {
    left: -100%;
  }
  nav ul {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
  }
}
.fa-search {
  transition: 1s ease-in;
}
