@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Balsamiq Sans", cursive;
}
a {
  text-decoration: none !important;
}
